<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
   {{# if csrfToken}}
    <meta name="csrf-token" value="{{csrfToken}}">
    {{/if}}

</head>
<body data-spy="scroll" data-target=".fixed-top">
    
 
    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" style="color:black; text-decoration:none;" href="/">
            {{!-- <img src="images/logo.svg" alt="alternative"> --}}
            
            {{#if route}}
            Dashboard
            {{else}}
                MyNoticePage
            {{/if}}
            </a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                {{!-- <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">SignUp <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#">SignIn</a>
                </li>
              --}}

            {{>navigation}}
            </ul>
            {{!-- <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x facebook"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x twitter"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span> --}}
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                           <h1 ><span class="turquoise">Dashboard</span></h1>
                           <a id="demo01" href="#animatedModal"> <h3 class="txtmenu"><span class="turquoise">Create a NoticeBoard</span></h3></a> 
                          <a href="/dashboard/settings">  <h3 class="txtmenu"><span class="turquoise">Account Settings</span></h3></a>

                            {{!-- <h1><span class="turquoise">Create a NoticeBoard for Free in a Minute</span></h1>
                            <p class="p-large">Publish notices and infos in a matter of few minutes and share with the public without spening a dime <br><br>
                            <a class="btn-solid-lg page-scroll" href="/register">START NOW</a> --}}
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="images/header-teamwork.svg" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->


     

  <!--DEMO01-->
    <div id="animatedModal">
        <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
        <div id="closebt-container" class="close-animatedModal"> 
            <img class="clsbtn" src="/images/close.svg">
        </div>
            
        <div class="container modal-content">
               
                   <div class="row">
                       <div class="col-lg-6 mx-auto">
                        <div class="tools">
                          <input type="search" required placeholder="Notice Board Url"  name="search" id="search">
                         <button id="searchbtn"> CHECK AVAILABILITY </button>
                         <span id="notify"></span>
                         <input id="key" type="hidden"  name="_csrf" value="{{csrfToken}}">
                     
                         <div class="ff">
                                 <input type="text" required name="title" id="title" placeholder="Notice Board Title">
                      
                         </div>
                         <div class="ff">
                                 <input type="number" required name="number" id="number" placeholder="Contact Number">
                      
                         </div>
                          <div class="ff">
                                 <input type="email" required name="email" id="conemail" placeholder="Contact Email">
                      
                         </div>
                         <div class="ff">
                             <button id="submitNow"> CREATE NOW </button>
                         </div>

                        </div>
                        
                       </div>
                   </div>
        </div>
    </div>
 
     <script src="/js/dashboard.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/animatedModal.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function() {

    //demo 01
    $("#demo01").animatedModal({
        animatedIn:'bounceInDown',
        animatedOut:'bounceOut',
        color:'#ffffff',
        beforeOpen: function() {

            var children = $(".thumb");
            var index = 0;

            function addClassNextChild() {
                if (index == children.length) return;
                children.eq(index++).show().velocity("transition.expandIn", { opacity:1, stagger: 250 });
                window.setTimeout(addClassNextChild, 200);
            }

            addClassNextChild();

        },
        afterClose: function() {
          $(".thumb").hide();
              
        }
    });

 

}); // end document ready


  </script>
 
</body>
</html>